.bang-admin .hanh-dong .chon-hanh-dong {
    display: block;
    padding: 0.5rem;
    cursor: pointer;
    user-select: none;
}
.bang-admin .hanh-dong .danh-sach {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    gap: 0.5rem;
    transition: 0.2s;
}
@media screen and (max-width: 720px) {
    .tuong-tac-bang {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}